
 <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
 <ion-content>
	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 offset-sm-3">
					<div class="box">
						<div class="box__header">
							<h5><i class="fa fa-clock-o m-r-5" aria-hidden="true"></i> Alur Pendaftaran</h5>
						</div>
						<div class="box__body">
							<div class="timeline">
								<div class="timeline__row">
									<div class="timeline__row_icon">
										<div class="timeline-icon success">
											<i class="fas fa-user"></i>
										</div>
									</div>
									<div class="timeline__row_content">
										<span class="badge badge-curved badge-primary">Pendaftaran</span>
										<div class="timeline__row_content_desc">
											<h5>Kegiatan Pendaftaran</h5>
											<p>Dilakukan Mulai Tanggal 2 januari s/d 31 agustus 2022</p>
										</div>
									</div>
								</div>
								<div class="timeline__row">
									<div class="timeline__row_icon">
										<div class="timeline-icon success">
											<i class="fas fa-user"></i>
										</div>
									</div>
									<div class="timeline__row_content">
										<span class="badge badge-curved badge-primary">Mengikuti Test Potensi Akademik dan wawancara</span>
										<div class="timeline__row_content_desc">
											<h5>Test Potensi Akademik TPA</h5>
											<p>Kegiatan ini dilakukan untuk mengetahui kompetensi pengetahuan umum dimana ada 3 jenis pertanyaan diantaranya adalah logika,matematika dan umum TPA dilakukan menggunakan komputer yang di selenggarakan online/offline</p>
										</div>
									</div>
								</div>
								<div class="timeline__row">
									<div class="timeline__row_icon">
										<div class="timeline-icon danger">
											<i class="fas fas fa-chalkboard-teacher"></i>
										</div>
									</div>
									<div class="timeline__row_content">
										<span class="badge badge-curved badge-primary">Melakukan Kegiatan Prastudi</span>
										<div class="timeline__row_content_desc">
											<h5>Kegiatan pelaksanaan Prastudi dilaksanakan di 1 lokasi</h5>
											<p>fakultas ekonomi dan komputer dilaksanakan di gedung kampus pajajaran</p>
										</div>
									</div>
								</div>
                <div class="timeline__row">
									<div class="timeline__row_icon">
										<div class="timeline-icon endcolor">
											<i class="fas fa-stop-circle"></i>
										</div>
									</div>
									<div class="timeline__row_content">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 </ion-content>