<ion-header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</ion-header>


<ion-tabs >
  <ion-tab-bar slot="bottom" color="orangcyt" style="border-radius: 25px 25px 0 0;">
  <ion-tab-button tab="alurpmb">
    <div class="icons">
      <img src="../../../assets/icon/exam.png">
    </div>
    
  <ion-label>Alur</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="fee">
    <div class="icons">
      <img src="../../../assets/icon/wallet.png">
      
    </div>
  <ion-label>Fee</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="pendaftaran">
    <div class="icons">
      <img src="../../../assets/icon/register.png">
      
    </div>
  <ion-label>Pendaftaran</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="daftar">
    <div class="icons">
      <img src="../../../assets/icon/table.png">
      
    </div>
  <ion-label>Data</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>