
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
	<ion-content>
		<section class="main-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 offset-sm-3">
						<div class="box">
							<div class="box__header">
								<h5><i class="fa fa-clock-o m-r-5" aria-hidden="true"></i>Pencairan Fee</h5>
							</div>
							<div class="box__body">
								<div class="timeline">
									<div class="timeline__row">
										<div class="timeline__row_icon">
											<div class="timeline-icon success">
												<i class="fas fa-money-check-alt"></i>
											</div>
										</div>
										<div class="timeline__row_content">
											<span class="badge badge-curved badge-primary">Data Pendaftaran</span>
											<div class="timeline__row_content_desc">
												<h5>Pengecekan nominal fee pendaftaran</h5>
												<p>dapat di cek melalui menu data pendaftaran pastikan terdapat jumlah fee pendaftaran</p>
											</div>
										</div>
									</div>
									<div class="timeline__row">
										<div class="timeline__row_icon">
											<div class="timeline-icon success">
												<i class="fas fa-user"></i>
											</div>
										</div>
										<div class="timeline__row_content">
											<span class="badge badge-curved badge-primary">Konfirmasi Kebagian BAUM</span>
											<div class="timeline__row_content_desc">
												<h5>BAUM</h5>
												<p>Silahkan Konfirmasi dengan menunjukan daftar data pendaftaran dengan status "verifikasi pendaftaran ok"</p>
											</div>
										</div>
									</div>
									<div class="timeline__row">
										<div class="timeline__row_icon">
											<div class="timeline-icon danger">
												<i class="fas fa-user-shield"></i>
											</div>
										</div>
										<div class="timeline__row_content">
											<span class="badge badge-curved badge-primary">Proses pencairan fee selesai</span>
						
										</div>
									</div>
					<div class="timeline__row">
										<div class="timeline__row_icon">
											<div class="timeline-icon endcolor">
												<i class="fas fa-stop-circle"></i>
											</div>
										</div>
										<div class="timeline__row_content">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ion-content>