
    @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

    $primary: #03a9f4;
    $success: #4caf50;
    $danger: #f44336;
    $warning: #ff9800;
    $padding: 20px;
    
    @mixin for-phone-only {
        @media (max-width: 767px) {
            @content;
        }
    }
    @mixin for-tablet {
        @media (min-width: 768px) {
            @content;
        }
    }
    @mixin for-desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }
    
  
    
    .m-r-5 {
        margin-right: 5px;
    }
    
    .box {
        margin-bottom: 25px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.1);
        &__header {
            padding: $padding;
            border-bottom: 1px solid #ddd;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }
        &__body {
            padding: $padding;
        }
    }
    .boxtime{
        &__row {
            display: flex;
            position: relative;
            &_content {
                color: #03a9f4;
                width: calc(100% - 30px);
                margin-bottom: 20px;
                .badge{
                    margin-bottom: 10px;
                    border-radius: 30px;
                }
            }
        }
    }
    .timeline {
        &__row {
            display: flex;
            position: relative;
            &_icon {
                width: 30px;
                margin-right: 20px;
                z-index: 1;
            }
            &_content {
                width: calc(100% - 30px);
                margin-bottom: 20px;
                .badge{
                    margin-bottom: 10px;
                    border-radius: 30px;
                    color: #03a9f4;
                }
                &_desc{
                    padding:15px;
                    border-radius: 5px;
                    background:#fff;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
                }
            }
            &:nth-last-child(1) {
                .timeline__row_content {
                    border:none;
                    padding-bottom: 0;
                    margin-bottom: 10px;
                }
                &:before{
                    height:0;
                }
            }
            &:before{
                content:"";
                position: absolute;
                width:1px;
                height:100%;
                left:15px;
                background:#d5d5d5;
            }
        }
        .timeline-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 30px;
            color: $primary;
            background: #fff;
            border: 2px solid $primary;
            &.success {
                color: $success;
                border-color: $success;
            }
            &.warning {
                color: $warning;
                border-color: $warning;
            }
            &.danger {
                color: $danger;
                border-color: $danger;
            }
            &.endcolor {
                color: rgb(107, 106, 106);
                border-color:rgb(107, 106, 106);
            }
        }
    }
    
    
    