<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
  <ion-header class="ion-no-border">


    <ion-toolbar class="ion-no-border" >
      <div class="iconlog">

      <ion-buttons slot="end">

        <ion-button class="logoff">
          <i class="fas fa-bell"></i>
        </ion-button>
      </ion-buttons>
    </div>
    </ion-toolbar>
  <ion-toolbar  class="ion-no-border" class="endheader">


    <ion-item lines="none"  style="margin-bottom: 10%;"  >
    
<ion-label>
 hallo Khazana
</ion-label>
    <ion-avatar slot="start">
   


    </ion-avatar>

   
   

 
 
  <div>
<div>
  <ion-label>
    <div>
      <p>Hallo</p>
      <h3>Bagus Andre</h3>
    </div>
  </ion-label>
</div>
   
  </div>
  
    


    

      
    </ion-item>
    </ion-toolbar >
  

  
    
      
    
  </ion-header>
  <ion-content>

  <div>
  
    <ion-slides pager="true">

    
      <ion-slide class="ion-padding">
  
        <div style="width: 100%; margin-bottom:10px;">
        
            <p style="color: #5F9DF7 ;">Slide Menu</p>
            
      
            <div align="start" style="height: 80px; width:100%; background: #47B5FF; border-radius: 10px 10px 10px 10px; margin-bottom: 10px; " >
          
            
              <img  style="width: 50px; height:50px; margin-left: 10px; margin-top: 15px;" src="../../../assets/icon/books.png">
            
              <i align="center" style="font-size: 15px; margin-left: 15px; margin-bottom: 25%;  font-weight: 700;">Bank Soal</i>
        
      
          
          
          </div>
        
              <div align="start" style="height: 80px; width:100%; background: #47B5FF; border-radius: 10px 10px 10px 10px; margin-bottom: 10px; " >
              
                
                <img  style="width: 50px; height:50px; margin-left: 10px; margin-top: 15px;" src="../../../assets/icon/timetable.png">
              
                <i align="center" style="font-size: 15px; margin-left: 15px; margin-bottom: 25%; font-weight: 700;">Jadwal Belajar</i>
          
        
            
            
            </div>
            
          
            <div align="start" style="height: 80px; width:100%; background: #47B5FF; border-radius: 10px 10px 10px 10px; margin-bottom: 10px; " >
            
              
              <img  style="width: 50px; height:50px; margin-left: 10px; margin-top: 15px;" src="../../../assets/icon/bill.png">
            
              <i align="center" style="font-size: 15px; margin-left: 15px; margin-bottom: 25%;  font-weight: 700;">Kelola Pembayaran</i>
        
      
          
          
          </div>
          
        </div>

    
      </ion-slide>
      <ion-slide class="ion-padding">
        <div style="width: 100%; margin-bottom:10px;">
        
          <p style="color: #5F9DF7 ;">Mungkin Kamu Suka</p>
          
    
        <div align="start" style="height: 80px; width:100%; background: #47B5FF; border-radius: 10px 10px 10px 10px; margin-bottom: 10px; " >
          
            
          <img  style="width: 50px; height:50px; margin-left: 10px; margin-top: 15px;" src="../../../assets/icon/hacking.png">
        
          <i align="center" style="font-size: 15px; margin-left: 15px; margin-bottom: 25%;  font-weight: 700;">Etchical Hacking Practioner</i>
    
  
      
      
      </div>
    
          <div align="start" style="height: 80px; width:100%; background: #47B5FF; border-radius: 10px 10px 10px 10px; margin-bottom: 10px; " >
          
            
            <img  style="width: 50px; height:50px; margin-left: 10px; margin-top: 15px;" src="../../../assets/icon/android.png">
          
            <i align="center" style="font-size: 15px; margin-left: 15px; margin-bottom: 25%;  font-weight: 700;">Android Development Bag-1</i>
      
    
        
        
        </div>
        
          <div align="start" style="height: 80px; width:100%; background: #47B5FF; border-radius: 10px 10px 10px 10px; margin-bottom: 10px; " >
          
            
            <img  style="width: 50px; height:50px; margin-left: 10px; margin-top: 15px;" src="../../../assets/icon/android.png">
          
            <i align="center" style="font-size: 15px; margin-left: 15px; margin-bottom: 25%;  font-weight: 700;">Android Development Bag-2</i>
      
    
        
        
        </div>
        
      </div>
      </ion-slide>
    
    </ion-slides>
  </div>

  </ion-content>